.places {
  margin: 0 148px;
}

@media screen and (min-width: 1281px) {
  .places {
    width: 984px;
    margin: 0 auto 0 20%;
  }
}

@media screen and (max-width: 1110px) {
  .places {
    margin: 0 48px;
  }
}

@media screen and (max-width: 800px) {
  .places {
    margin: 0 24px;
  }
}

@media screen and (max-width: 360px) {
  .places {
    margin: 0;
  }
}