.cover__background-filter {
  width: 100%;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #000;
  opacity: 0.6;
  z-index: 2;
}

@media screen and (max-width: 1024px) {
  .cover__background-filter {
    max-width: 100%;
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__background-filter {
    max-width: 100%;
    min-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover__background-filter {
    max-width: 100%;
    min-height: 200px;
  }
}