.intro__text {
  margin-top: 40px;
  max-width: 690px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: white;
  margin-bottom: 33px;
}

@media screen and (max-width: 768px) {
  .intro__text {
    max-width: 720px;
  }
}